* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

/* .btn{
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}
.underline{
    width: 0px;
    height: 3px;
    background: #000;   
    transition: all 0.4s ease;
}
.btn:hover + .underline{
      width: 100px;
} */

.spinner {
    background: linear-gradient(45deg, red, yellow);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}



.hole {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spinner {
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}